h1{
  background-color: #ff0000;
  width: 300px;
  text-align: center;
}
#img1{
  width: 40%;

  height: 40%;
}
.img2{
  width: 40%;
  height: 40%;
  padding-left: 100px;
}
img{
  width: 40%;
  height: 40%;
}
table, tr, td{
  border: 1px solid black;

}
#img4{
  padding-left: 300px;
  width: 40%;
  height: 40%;
}
#slide{
width: 70%;
height: 100%;

}
#footer{
  background: #000000;
  color: white;

}
#CentralizarRede{
  text-align: center;
  color: white;
}
#imgCarosel{
  height: 50%;
}
